.fixed-div {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
